<% if current_user.elderly? %>
  <h2>All your medicines</h2>
  <% medicines = Medicine.where(user_id: current_user.id) %>
  <%= render "supports/elderly_medicines", medicines: medicines %>
<% else %>
  <% @medicines.each do |medicine| %>
    <%= medicine.name  %><br>
    <%= medicine.description %>
  <% end %>
<% end %>
