<h2>Set the reminder</h2>
<%= simple_form_for [@reminder] do |f| %>
  <%= f.time_select :time_to_taken, class: "form-control" %>
  <%= f.submit "ADD", class:'btn btn-info btn-block mt-2' %>
<% end %>
<ul>
  <% @reminders.each do |reminder| %>
    <li>
      <%= reminder.time_to_taken.strftime("%H:%M:%S") %>
    </li>
  <% end %>
</ul>
