<h1>Notifications</h1>
<%= render @notifications %>
<%# <ul>
  <% @notifications.each do |notification| %>
  <%# <% instance = notification.to_notification %>
  <%# <li> %>
  <%# <p>Sent at: <%= notification&.created_at.to_s %>
  <%# <p>Message: <%= instance.message %>
  <%# </li> %>
  <%# <% end %>
  <%# </ul> %>
