<div class="index-first-session">
  <div class="p-1" style="background-color: #FFB703; height: 40px; width: 100%;">
    <div class="d-flex justify-content-center">
      <div class="me-3">
        <img class="avatar-large" alt="avatar-large" src="https://t4.ftcdn.net/jpg/03/02/94/53/360_F_302945354_dqIiUiITKpard7fBVKDLtffIqnkDbyo4.jpg"/>
      </div>
      <div class= "p-0">
        <h5 class="text-center mb-3 mt-1">Edit My Profile</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= render 'user_form' %>
</div>
