<div class="footer" style="background-color: #023047;">
  <div class="footer-links w-100">
    <div class= "d-flex justify-content-between w-100">
      <div class="text-center">
        <i class="fa-solid fa-user" style="color: #FFFFFF;"></i>
      </div>
      <div class="text-center">
        <%= link_to supports_path do %>
          <i class="fa-solid fa-house-chimney-user" style="color: #FFFFFF;"></i>
        <% end %>
      </div>
      <div class="text-center">
        <i class="fa-solid fa-gear" style="color: #FFFFFF;"></i>
      </div>
    </div>
  </div>
</div>
