<div class="footer" style="background-color: #8ECAE6;">
  <div class="footer-links text-center">
    <%= link_to root_path do %>
      <i class="fa-solid fa-house-chimney-user" style="color: #000000;"></i>
    <% end %>  </div>
</div>
