<div class="container">
  <div class="d-flex justify-content-between align-items-center mt-2">
    <h1>Health Records</h1>
    <%= link_to new_support_health_record_path(@health_records), class: 'btn btn-outline-warning' do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
  <%= render "elderly_health_record", health_record: @health_records %>
</div>
