.reminder-complete
{
    position: fixed;
    bottom: 75px;
    right: 25px;
}

.add-b
{
  font-size: 70px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  line-height: 70px;
  margin-bottom: 70px;
}
