.reminder-complete
{
    position: fixed;
    bottom: 75px;
    right: 25px;
}

.add-b
{
  font-size: 35px;
  width: 60px;
  height: 40px;
  border-radius: 10%;
  text-align: center;
  line-height: 48px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  line-height: 35px;
  margin-left: 3px;
  margin-top: -10px;
}
