body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.elderly-pro {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 330px;
  height: 130px;
  margin-top: 70px;
  background: rgb(90, 181, 210);
  background: linear-gradient(180deg, rgba(90, 181, 210, 0.606235419045596) 18%, rgba(142, 202, 230, 0.20466061589598972) 53%, rgba(255, 255, 255, 0.6849755765259109) 86%);
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);

  p {
    position: absolute;
    top: -19%;
    left: 46%;
    color: white;
    font-size: 16;
    font-family: verdana;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 8px;
    background-color: #023947;
  }

  .elderly-pro-info {
    position: absolute;
    top: -20%;
    left: 75%;
  }
}

// .item-3d h2 {
//   /*customizable*/
//   margin: 0;
// }

// .item-3d p {
//   /*customizable*/
//   margin: 0;
// }

.elderly-pro-info {
  position: absolute;
  right: 0;
}

.elderly-pro-icon {
  width: 200px;
  position: relative;
}

.elderly-pro-icon img {
  position: absolute;
  top: 50%;
  left: 34%;
  transform: translate(-40%, -67%);
  height: 200px;
  width: 150px;
}


.health-record-status {
  position: absolute;
  top: 40%;
  right: 1%;
  transform: translateY(-50%);
}


.medicine-completed,
.health-record-completed {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  background-color: rgba(20, 92, 10, 0.85);
  border: 1px solid #ccc;
  border-radius: 16px;
  opacity: 0.85;
}

.missing-health-record,
.missing-medicine-record {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  background-color: rgba(205, 38, 19, 0.85);
  border: 1px solid #ccc;
  border-radius: 16px;
  opacity: 0.85;
}

.missing-medicine-record i,
.missing-health-record i,
.health-record-completed i,
.medicine-completed i {
  border: 1px solid white;
  background: white;
  border-radius: 50%;
  padding: 3px 4px;
  margin-right: 3px;
}
