body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.elderly-pro {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 330px;
  height: 130px;
  margin-top: 65px;
  background: rgb(90, 181, 210);
  background: linear-gradient(180deg, rgba(90, 181, 210, 0.7695592885591737) 6%, rgba(142, 202, 230, 0.556674134497549) 48%, rgba(255, 255, 255, 1) 90%);
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);

  p {
    position: absolute;
    top: -19%;
    left: 50%;
    color: white;
    font-size: 16;
    font-family: verdana;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 8px;
    background-color: #023947;
  }
}

// .item-3d h2 {
//   /*customizable*/
//   margin: 0;
// }

// .item-3d p {
//   /*customizable*/
//   margin: 0;
// }

.elderly-pro-info {
  position: absolute;
  right: 0;
}

.elderly-pro-icon {
  width: 200px;
  position: relative;
}

.elderly-pro-icon img {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -70%);
  height: 220px;
  width: 170px;
}
