.nav-display {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.tabs-underlined .tab-underlined {
  margin: 8px 14px
}



// This is for form
.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 18%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector+label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked+label {
  color: black !important;
  background-color: #30d2f2;
  font-weight: bold;
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-icon i {
  margin-right: 8px;
}

.form-check-label.collection_radio_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.health-record-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.health-info {
  font-size: 30px;
  padding: 12px;
  background-color:  rgba(197, 197, 197, 0.5);
  text-align: center;
  border-radius: 8px;

  i {
    font-size: 28px;
  }

  h2 {
    font-size: 28px;
  }

  .health-card-data {
    font-weight: bold;
  }
}

.bigger-font {
  font-size: 20px;
}
