<div class="row justify-content-center">
  <% @appointments = Appointment.where(user: current_user).sort_by {|appointment| appointment[:start_time] } %>
  <% @appointments.each do |appointment| %>
    <%= link_to appointment_path(appointment), class: 'text-decoration-none text-black' do %>
      <div class="card mb-4" style="padding: 0px;">
        <h3 class="card-header">
          <%=appointment.name.split.map(&:capitalize).join(' ') %>
        </h3>
        <div class="card-body">
          <h4 class="card-title"><%="#{appointment.start_time.strftime("%A, %b %e, %l:%M %p")}" %></h4>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
