<h5>Care Recipients:</h5>
<div class="container">
  <div class="row justify-content-center">
    <% supports.each do |support| %>
      <div class="col-12 col-lg-4 m-3 rounded p-0 border border-dark" style="background-color: #8ECAE6;">
        <%= link_to support_path(support), class: 'd-block p-0 text-decoration-none' do %>
          <div class="d-flex">
            <!-- Left column: Image -->
            <div class="flex-shrink-0">
              <%= cl_image_tag support.photo.key, class: 'img', crop: :fill, width: 150, gravity: :face, height: 200 if support.photo.key? %>
            </div>
            <!-- Right column: Name -->
            <div class="d-flex align-items-center justify-content-end">
              <p class="fs-2 text-black m-0 p-3"><%="#{support.elderly.first_name.capitalize} #{support.elderly.last_name.capitalize}" %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
