<div class= "mt-0" style= "width: 100%;">
  <% if current_user.elderly?  %>
    <h1>I am an elderly</h1>
  <% else %>
    <div class=" border-bottom border-primary p-1" style="background-color: #FFB703; height: 40px; width: 100%;">
      <div class="d-flex justify-content-center">
        <div class="me-3">
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" style=" width: 30px;"/>
        </div>
        <div class= "p-0">
          <h5 class="text-center mb-3 mt-1">Hello <%= current_user.first_name.capitalize %>!</h5>
        </div>
      </div>
    </div>
  </div>
  <div class= "container mt-3 ">
    <div>
      <% @supports.each do |support| %>
        <p><%= support.elderly.first_name %>has <%= support.elderly.appointments.active.count %>appointments today!</p>
      <% end %>
    </div>
    <%= render "list_of_elderlies", supports: @supports%>
  <% end %>
</div>
